[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "*"
flake8 = "*"
pylint = "*"
pytest = "*"

[packages]
skeletons = {path = ".", editable = true}

[requries]
python_version = "3.11"
