[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
skeletons = {path = ".", editable = true, extras = ["dev"]}

[packages]
skeletons = {path = ".", editable = true}

[scripts]
test = "pytest tests/"
lint = "flake8 . && pylint ."
format = "black ."
coverage = "pytest --cov=htmlcov tests/ && python -m http.server --directory htmlcov/"

[requries]
python_version = "3.11"
